body {
    background-image: url(../imgs/landingpagetausta.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    max-width:98%;
    
}

.logo .img-responsive {
    width: 450px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    float: left;
    vertical-align: middle;
}

@font-face {
    font-family: Moondog;
    src: url(../fonts/moondog.ttf);
}

h2 {
    font-size: 50px;
    color: lightblue!important;
    font-family: 'Moondog' !important;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 0;
    
}

p
{
    font-family: 'Moondog' !important;
    color: lightblue !important;
    font-size: 20px;
}

.text
{
   
    margin: auto 0 px;
    float: right;
    padding: 0;
    display: inline-block;
    height: 200px;
    vertical-align: middle;
    margin-top: 60px;
}

.container
{
    align-items: center !important;
}

.video-container{
    width: 100%;
    height: 400px;
}


.video {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.googleplay {
    height: 100px;
    width: 220px;
    display: block;
    margin: 0 auto;
    text-align: center;
    float: none !important;
}