.text{
    
    float: right;
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
    
}

ul {
  -webkit-padding-start: 0 !important;
    display: inline-block;
    float: none !important;
    font-size: 24px;
    margin-top: 20px !important;
}


body {
    background-image: url(../imgs/landingpagetausta.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    max-width:98%;
    
}

.logo .img-responsive {
    width: 500px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    float: left;
    margin-left: 40px;

}


.googleplay {
    height: 100px;
    width: 220px;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    float: none !important;
    


}

.itunes {
    height: 80px;
    width: 200px;
    float: right;
    display: inline-block;
}
.itunes img {
  margin-top: 7px;
}

#storelinks {
  height: 65px;
  display: block;
  position: relative;
  margin: 0 auto;
    margin-bottom: 20px;
}

h2 {
    font-size: 50px;
    color: lightblue!important;
    font-family: 'Moondog' !important;
    text-align: center !important;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 20px;
    margin-top: 30px;
}

h3 {
    font-family: 'Moondog' !important;
    color: lightblue !important;
    font-size: 25px;
    
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
     width: 560px; 
    height: 315px;  
    position: absolute; 
    top: 0; right: 0; 
    bottom: 0; left: 0;
    margin: auto; 
    float: left;

}

@font-face {
    font-family: Moondog;
    src: url(../fonts/moondog.ttf)
}

.row {
    margin-top: 20px;
    display: block;

}
 .rowbottom {
     width: 100%;
     margin: 0 auto;
     margin-top: 20px;
     display: inline-block;
     text-align: center;
}

.fa-4x {
    font-size: 3em !important;
}

@media only screen and (max-width: 500px) {

    body {
      width: 98%;
      height: auto;
    }

    #storelinks {
      width: 100%;
    }

    #storelinks img {
      width: 150px !important;
    }

    .row {
      margin: 0;
    }
    .container {
      height: 100px;
      width: 95%;
    }

    .googleplay, .itunes {
      width: 150px;
    }

    .col-md-6 {
      padding:0;
    }

    .rowbottom {
        margin-top: 20px;
}

@media only screen and (max-width: 330px) {
    .container  {
      width: 99%;
      padding: 0;
  }
    #storelinks img {
      width: 125px;
    }

    .rowbottom {
        margin-top: 20px;
}
