html
{
 min-height: 100%;
}

body {
    background-image: url(../imgs/landingpagetausta.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    max-width:98%;
}

.logo .img-responsive {
    width: 450px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    float: left;
}

@font-face {
    font-family: Moondog;
    src: url(../fonts/moondog.ttf);
}

h2 {
    font-size: 50px;
    color: lightblue!important;
    font-family: 'Moondog' !important;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 0;
}

p
{
    font-family: 'Moondog' !important;
    color: lightblue !important;
    font-size: 20px;
}

.text {
    position: relative;
    padding: 0;
    height: 300px;
    width: 100%;
}

.text h2 {
  font-size: 48px;
}

.center-wrap {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);

  width: 100%;

}
.center-wrap p {
  line-height: 32px;
}

.container
{
    align-items: center !important;
}

.video-container{
    width: 100%;
    height: 400px;
}


.video {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.googleplay {
    height: 100px;
    width: 220px;
    display: block;
    margin: 0 auto;
    text-align: center;
    float: none !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /*margin-top: 30px;*/
  height: 100px;
  background-color: white !important;
}

.container-fluid {
 min-height: 180px;
 height: auto;
}
